* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.config {
  display: grid;
  grid-template-columns: 1fr 20px 1fr 1fr 20px 0.5fr auto;

  width: 400px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wrapperDados {
  display: flex;
}

.dados {
  display: flex;
  margin-bottom: 40px;
}

.dado { 
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin: 2px;
  background-size: 100% 100%;
}

.f12 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  margin-left: 20px;
  font-size: 2em;
}

.entrada {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  margin-top: 20px;
}

